.sectionFlex{
    display: flex;
}
.sectionOne{
    background-color: rgb(1, 54, 75);
    padding: 2%;
    color: white;
}
.textColor{
    color: white;
    text-align: left;
}
.textCenter{
    text-align: center;
}
